body{
    background-color: aliceblue;
}

/* NAvbar */
.navbar{
    height:5rem;
    background-color: white;
}

.fa-compass{
    color:#fe424d;
    font-size:2rem;
}

.nav-link{
    color:#222222 !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    display:flex;
}