<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <h1>SignUp for WanderLust</h1>
        <form  method="POST" action="/signup" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" placeholder="Select a username" type="text" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" placeholder="Enter you email ID" type="text" class="form-control" required>
                <div class="invalid-feedback">Please enter an email ID</div>
            </div>
            <div class="mb-3 mt-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" placeholder="Enter a password" type="password" class="form-control" required>
                <div class="invalid-feedback">Please choose a password</div>
            </div>
            <button class="btn btn-dark add-btn mt-3 signup-btn">SignUp</button>
        </form>
    </div>
</div>